#resume {
    width: 1000px;
    height: 1000px;
}
.title {
    text-align: center;
    font-size: 100px;
    color: aqua;
}
.farmlink{
    width: 560px;
    height: 315px;
}
.espnphotos {
    width: 500px;
    height: 500px;
}
div.centerresume {
    display: flex;
    justify-content: center;
}
