
body {
    background-image: url("https://img.freepik.com/free-vector/abstract-design-background_1048-8430.jpg?w=2000");
}

.imgstyle {
    width: 600px;
    height: 800px;
}

.link {
    color:blue;
    text-align: center;
}

.linkposition {
    position: absolute;
}

.header {
    text-align: center;
}

div.centerphoto {
    display: flex;
    justify-content: center;
}