body {
    background-color: #6897bb;
}
img {
    float:right;
}
.link {
    color:blue;
    font-size: x-large;
}
.title {
    text-align: center;
    font-size: x-large;
}
.linkposition {
    position: absolute;
}
.header {
    background-color: white;
    font-size: 100px;
    color:blue;
}